<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316383259142-k40pn2esm2el1qq7qme33i7g17kdltgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316383259142-k40pn2esm2el1qq7qme33i7g17kdltgl</string>
	<key>API_KEY</key>
	<string>AIzaSyB67y5cTK6FqExQg1f_YSMq9JZg7VaMWgw</string>
	<key>GCM_SENDER_ID</key>
	<string>316383259142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cep.CEPstaff</string>
	<key>PROJECT_ID</key>
	<string>cep-nhan-vien</string>
	<key>STORAGE_BUCKET</key>
	<string>cep-nhan-vien.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316383259142:ios:119e20b01f3cccd3137187</string>
</dict>
</plist>